$color-primary: #f2f2f3;
$color-secondary: #8585ad;
$color-success: #00cccc;
$color-alert: #f20d33;
$color-white10: #ffffff1a;
$color-white20: #ffffff33;
$color-disabled: #3a3a55;
$color-accent: #4c4cff;
$color-accent-dark: #3d3dcc;
$color-accent-light: #7070ff;
$color-input: #2f2f37;
$color-bg: #131316;
$color-bg-secondary: #1c1c21;

$container-width: 1140px;

@mixin text-default {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin text-small {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: $color-white10;
    border: 2px solid transparent;
    border-radius: 8px;
  }
}
