@import '../ui-style/ui-style.scss';

$animation_time: 0.5s;

.wrapper {
  @include text-default;
  max-width: 600px;
  min-width: 300px;
}

.label {
  display: block;
  color: $color-primary;
  margin-bottom: 4px;
  max-width: 100%;
  padding: 0 16px;
}

.textarea {
  @include custom-scroll;
  background-color: $color-input;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
  color: $color-secondary;
  column-gap: 8px;
  padding: 8px 16px;
  resize: none;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: border-color $animation_time, color $animation_time;
  
  &:focus {
    border-color: $color-accent;
    color: $color-primary;
    outline: 0;
  }
  &::placeholder {
    color: $color-white20;
  }
  &_error {
    border-color: $color-alert;
    transition: border-color $animation_time, color $animation_time;
  }
  &_success {
    border-color: $color-success;
  }
}

.text {
  color: $color-primary;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 100%;
  padding: 0 16px;
  &_error {
    color: $color-alert;
  }
  &_success {
    color: $color-success;
  }
}
