@import '../ui-library/ui-style/ui-style.scss';

.langs {
  background-color: $color-bg-secondary;
  color: white;
  border-radius: 15px;
  padding: 5px;
  line-height: 20px;
  box-sizing: border-box;
  height: 35px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../images/showSelect.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid $color-secondary;
  border-radius: 2px;
  padding: 5px 24px 5px 5px;
}

.langs:hover {
  background-image: url('../../images/hoverSelect.svg');
  cursor: pointer;
}

.button {
  color: $color-secondary;
  cursor: pointer;
  margin: 0 8px 0 0 !important;
}

.button_last {
  margin: 0 !important;
}

.button_active {
  color: $color-accent-light;
}
