@import '../../ui-style/ui-style.scss';

$animation_time: 0.5s;

.button {
  @include text-default;
  border: 0;
  outline: 0;
  border-radius: 20px;
  height: 40px;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  & > span {
    flex: 1;
    white-space: nowrap;
  }
  &:focus {
    outline: 0px;
  }
}

.navigation {
  color: $color-secondary;
  background-color: transparent;
  transition: background-color $animation_time, color $animation_time;
  text-decoration: none;
  & svg > path {
    stroke: $color-secondary;
    transition: stroke $animation_time;
  }
  &:hover {
    cursor: pointer;
    color: $color-primary;
    text-decoration: none;
    transition: color $animation_time;
    & svg > path {
      stroke: $color-primary;
      transition: stroke $animation_time;
    }
  }
  &:focus {
    text-decoration: none;
    color: $color-secondary;
  }
  &:focus-visible {
    outline: 2px solid $color-secondary;
  }
  &:active {
    color: $color-primary;
  }
  &:disabled {
    color: $color-secondary;
  }
  &_active {
    color: $color-primary;
    text-decoration: none;
    cursor: default;
    & svg > path {
      stroke: $color-primary;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.primary {
  border: 2px solid transparent;
  color: $color-primary;
  background-color: $color-accent;
  text-decoration: none;
  transition: background-color $animation_time, color $animation_time;
  & svg > path {
    stroke: $color-primary;
    transition: stroke $animation_time;
  }
  &:hover {
    background-color: $color-accent-dark;
    color: $color-primary;
    transition: background-color $animation_time, color $animation_time;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus-visible {
    border: 2px solid $color-primary;
  }
  &:active {
    background-color: $color-accent-light;
  }
  &:disabled {
    color: $color-secondary;
    background-color: $color-disabled;
  }
}

.navigation_active {
  color: $color-primary !important;
  & svg > path {
    stroke: $color-primary;
    transition: stroke $animation_time;
  }
}

.image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.tab {
  font-size: 16px;
  line-height: 19px;
  font-family: 'JetBrains Mono', sans-serif;
  color: $color-secondary !important;
  box-sizing: border-box;
  text-decoration: none !important;
  transition: color 0.3s ease-in;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  &:hover {
    color: $color-primary !important;
    transition: color 0.3s ease-in;
  }
  &:focus {
    color: $color-primary !important;
    border-bottom: 2px solid $color-accent;
    outline: 0;
  }
}

.tab_active {
  color: $color-primary !important;
  border-bottom: 2px solid $color-accent;
  border-radius: 0;
}
