@import '../../ui-style/ui-style.scss';

.tab {
  font-size: 16px;
  line-height: 19px;
  font-family: 'JetBrains Mono', sans-serif;
  color: $color-secondary !important;
  box-sizing: border-box;
  text-decoration: none !important;
  transition: color 0.3s ease-in;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  &:hover {
    color: $color-primary !important;
    transition: color 0.3s ease-in;
  }
  &:focus {
    color: $color-primary !important;
    border-bottom: 2px solid $color-accent;
    outline: 0;
  }
  &_active {
    color: $color-primary !important;
    border-bottom: 2px solid $color-accent;
    border-radius: 0;
  }
}
