@import '../ui-library/ui-style/ui-style.scss';

.article_preview {
  border-top: 1px solid $color-input;
  padding: 1.5rem 0;
}

.image {
  width: 160px;
  height: 228px;
  background-color: $color-input;
  border-radius: 20px;
  background-size: cover;
}

.w100 {
  width: 100%;
}

.title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: $color-primary;
}

.text {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary;
}

.continue {
  composes: text;
  color: $color-accent;
}

.continue:hover {
  color: $color-primary;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  float: right;
  width: 400px;
  list-style: none;
  gap: 5px;
}

.tag_default {
  color: $color-primary;
  background-color: $color-input;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 100px;
}

.tag_default:hover {
  color: $color-primary;
}

.tag_default:focus {
  background-color: $color-accent;
  color: $color-primary;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-direction: column;
}

.colArticle {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.article_meta {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.pull_xs_right {
  float: right !important;
}

.favouriteButton {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  width: 100%;
  max-width: 50px;
  height: 30px;
}

.favouriteButton:focus {
  border: 0;
  outline: 0 !important;
}

.favouriteButton:active {
  border: 0;
  outline: 0 !important;
}

.count {
  font-size: 16px;
  line-height: 24px;
  color: $color-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.count_added {
  color: $color-alert;
}

.heart {
  margin: 0 0 0 8px !important;
}

.favouriteButton_disabled {
  cursor: zoom-in;
}

.favouriteButton_enabled {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 1rem;
  border: none;
  font-family: 'JetBrains Mono', sans-serif;
  font-style: normal;
}

.btn_sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn_primary {
  color: $color-alert;
  background-color: transparent;
}
.btn_primary:hover {
  color: $color-alert;
  background-color: transparent;
}
.btn_primary:focus {
  color: $color-alert;
}

.btn_outline_primary {
  color: $color-primary;
  background-image: none;
  background-color: transparent;
}
.btn_outline_primary:hover {
  color: $color-primary;
  background-color: transparent;
}
.btn_outline_primary:focus {
  background-color: transparent;
}

.btn:focus,
.btn_sm:focus,
.btn_primary:focus,
.btn_outline_primary:focus {
  outline: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .colArticle {
    width: 100%;
  }
  .tag_list {
    width: 320px;
  }
}
@media screen and (max-width: 620px) {
  .row {
    flex-direction: column;
  }
  .image {
    width: 100%;
    max-width: 600px;
  }

  .tag_list {
    width: 270px;
  }

  .continue {
    font-size: 14px;
    line-height: 16px;
  }
}
